<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @auction.user %>
</p>

<p>
  <strong>Product:</strong>
  <%= @auction.product %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @auction.amount %>
</p>

<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
