<div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3">
          <h6><%= product.name %></h6>
          <a href="/products/<%= product.id %>"><%= image_tag product.image, class:'img-responsive'%></a>
          <%= product.auctions.count %> Ofertas hasta el momento
          <br>
          <%= auctionExists(cookies[:user], product.id) %>
          <a href="/products/<%= product.id %>" class="btn btn-primary">Hacer oferta</a>
      </div>
    <% end %>
</div>

