<div class="row">
  <div class="container">
    <h1>SUBASTAS</h1>
    <p><b>Bienvenido <%= @user.name %></b>, se parte de la Subasta que tenemos para tí.</p>
    <div class="row">
      <div class="container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#actuales" aria-controls="home" role="tab" data-toggle="tab">Actuales</a></li>
          <li role="presentation"><a href="#proximas" aria-controls="profile" role="tab" data-toggle="tab">Próximas Subastas</a></li>
          <li role="presentation"><a href="#finalizadas" aria-controls="messages" role="tab" data-toggle="tab">Finalizadas</a></li>
          <li role="presentation"><a href="#ofertas" aria-controls="messages" role="tab" data-toggle="tab">Mis Ofertas</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="actuales">
            <h2>Modelos que se subastan actualmente:</h2>
            <p>Selecciona el artículo que mas te agrade:</p>
            <% @activeproducts.each do |product| %>
              <div class="col-md-3 producto-ind">
                <a href="/products/<%= product.id %>"><h6><%= product.name %></h6></a>
                <span class="timeend">Finaliza en <%= distance_of_time_in_words(Time.now, product.finish_at) %></span>
                  <a href="/products/<%= product.id %>"><%= image_tag product.image, class:'img-responsive'%></a>
                  
                  <span class="no-ofertas"><span class="glyphicon glyphicon-hand-up"></span> <strong><%= product.auctions.count %>
                  </strong> <%= product.auctions.count == 1 ? "Oferta" : "Ofertas" %> hasta ahora</span>
                  <br>
                  <span class="tus-ofertas"><%= auctionExists(cookies[:iduser], product.id) %></span>
                   <% if product.auctions.present? %><br>
                    Oferta más alta: <span class="max-offer"><%= number_to_currency(product.auctions.maximum(:amount), precision: 0)%></span>
                  <% else %>
                      <span class="max-offer"> 
                        Aún no existen ofertas
                      </span>
                  <% end %>
                  <br>     
                  <a href="/products/<%= product.id %>" class="btn btn-primary btn-ofertar">Ofertar</a>
              </div>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane" id="proximas">
            <h2>Modelos que subastaremos próximamente</h2>
            <p>No pierdas la oportunidad de formar parte de nuestra siguiente subasta, con los siguientes modelos:</p>
            <% @notavailableproducts.each do |product| %>
              <div class="col-md-3 producto-ind" style="opacity: 0.7">
                <a href="/products/<%= product.id %>"><h6><%= product.name %></h6></a>
                <span class="timestart" style="opacity: 1; color:green">
                  Comienza en <%= distance_of_time_in_words(product.finish_at,Time.now) %>
                </span>

                  <a href="/products/<%= product.id %>"><%= image_tag product.image, class:'img-responsive'%></a>
                  <br>     
                  Oferta comienza en:  <%= number_to_currency(product.price) %><br>
                  <a href="/products/<%= product.id %>" class="btn btn-primary btn-ofertar">Ver producto</a>
              </div>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane" id="finalizadas">
            <h2>Modelos que se subastaron anteriormente</h2>
            <p>Los siguientes modelos fueron parte de nuestra anterior subasta:</p>
            <% @endedproducts.each do |product| %>
              <div class="col-md-3 producto-ind" style="opacity: 0.7">
               <h6><%= product.name %></h6>
              <span class="timeend">Finalizó hace <%= distance_of_time_in_words(product.finish_at,Time.now) %></span>
                <%= image_tag product.image, class:'img-responsive'%>
                  
                  <span class="no-ofertas"><span class="glyphicon glyphicon-hand-up"></span> <strong><%= product.auctions.count %></strong>  <%= product.auctions.count == 1 ? "Oferta" : "Ofertas" %> </span>
                  <br>
                  <span class="tus-ofertas"><%= auctionExists(cookies[:iduser], product.id) %></span>
                   <% if product.auctions.present? %><br>
                    Oferta más alta: <span class="max-offer"><%= number_to_currency(product.auctions.maximum(:amount), precision: 0)%></span>
                  <% else %>
                  <br>
                    Sin ofertas
                  <% end %>
                  <br>    
                  <!--a href="/products/<%= product.id %>" class="btn btn-primary btn-ofertar">Ver ganadores</a--> 
              </div>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane" id="ofertas">
            <h2>Haz ofertado:</h2>
            <% @myproducts.each do |product| %>
              <div class="col-md-3 producto-ind">
                <a href="/products/<%= product.id %>"><h6><%= product.name %></h6></a>
              <% if product.finish_at <= Time.now %>
              <span class="timeend">Finalizó hace <%= distance_of_time_in_words(product.finish_at, Time.now) %></span>
              <% end %>
              <% if product.finish_at >= Time.now && product.start_at <= Time.now %>
              <span class="timeend">Finaliza en <%= distance_of_time_in_words(product.finish_at, Time.now) %></span>
              <% end %>
                  <a href="/products/<%= product.id %>"><%= image_tag product.image, class:'img-responsive'%></a>
                  <br>     
                  <a href="/products/<%= product.id %>" class="btn btn-primary btn-ofertar">Ver Producto</a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    
  </div>
</div>

