<div class="row">
  <div class="container">
    <div class="row" id="alerta-roja">
      <div class="alerta-roja" id="msj"></div>
    </div>
    <a href="/products"><span class="glyphicon glyphicon-chevron-left"></span>Regresar al listado</a>
    <div class="row detalle-info">
      <div class="col-md-10 col-md-offset-1">
        <h2><%= @product.name %></h2>
        <div class="row detalles">
          <div class="col-md-5">
            <%= image_tag @product.image, class:"img-responsive img-detalle" %>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6">
            <div class="bloques precio-inicial border-inf">
               <span class="no-ofertas"><span class="glyphicon glyphicon-hand-up"></span><strong><%= @product.auctions.count %></strong> Ofertas hasta ahora </span>
               <br>
               <span class="tus-ofertas"><%= auctionExists(cookies[:user], @product.id) %></span>
               <div class="precios-iniciales">
                <div class="precio" id="precioCC">
                  <b>Precio Inicial</b><br>
                  <span id="priceCC"><%= number_to_currency(@product.price.to_i, precision: 0) %></span>
                </div>
                <div class="price-auction">
                <% if @product.auctions.present? %>
                  Oferta más alta al momento: <span class="max-offer" style="color:red; font-size:14px"><%= number_to_currency(@product.auctions.maximum(:amount), precision: 0)%></span>
                <% else %>
                  Oferta más alta al momento: <span class="max-offer" style="color:red; font-size:14px"> Aún no existen ofertas</span>
                <% end %>
                </div>
               </div>
            </div>

            <!-- No empiezan -->
            <% if @offerended == 1 %>
                <div class="alert alert-warning">La subasta no ha comenzado </div>
                <span class="timestart">Comienza en <%= distance_of_time_in_words(Time.now, @product.start_at) %></span>
            <% end %>
            <!-- Activas -->
            <% if @offerended == 2 %>
            <div class="bloques offer">
              <p>
                <br>
                La oferta debe ser <strong>mayor</strong> al precio mínimo. <br><br>Ten en cuenta que para tener más posibilidades de obtener el artículo debes ofertar más de <strong>
                <% if @product.auctions.present? %>
                  <span class="max-offer"><%= number_to_currency(@product.auctions.maximum(:amount), precision: 0)%></span>
                  <% else %>
                  <span class="max-offer"><%= number_to_currency(@product.price.to_i, precision: 0) %></span>
                  <% end %></strong>
              <div class="alert alerta-roja-price" style="display: none;"></div>
              </p>
                <div class="form-off">
                  <b>Cantidad a ofertar</b><br>
                <input type="number" class="oferta campo-login" step="50" id="pricea" placeholder="Monto a ofertar" value="<%= @product.price.to_i %>">
                <input style="vertical-align:baseline;min-width:120px;" type="button" class="btn btn-primary btn-login" id="ofertar" value="Ofertar"> 
                </div>
                <span class="timeend">Finaliza en <%= distance_of_time_in_words(Time.now, @product.finish_at) %></span>
            </div>
            <% end %>
            <% if @offerended == 3 %>
                <div class="alert alert-warning">La subasta ha finalizado </div>
                <span class="timeend">Finalizó hace <%= distance_of_time_in_words(@product.finish_at,Time.now) %></span>
              <% end %>

            <input type="hidden" id="idProducto" value="<%= @product.id %>">
            <input type="hidden" id="val1" value="<%= @product.price.to_i %>">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= @product.description.html_safe %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  
<script type="text/javascript">
  jQuery(document).ready(function($) {
    var idp = <%= @product.id %> ;
    
  $('#alerta-roja').hide();
    $('#ofertar').click(function(event) {
      moduloe = parseInt($(this).val()) % 50
      oferta = $('.oferta').val();
      preciomin = $('#val1').val();
      moduloe = parseInt(oferta) % 50
      if(moduloe != 0){
        $('.alerta-roja-price').show();
        $('.alerta-roja-price').addClass('alert-danger');
        $('.alerta-roja-price').text('La oferta debe ser en múltiplos de 50 pesos');
      }else{
      if(parseInt(oferta) < parseInt(preciomin)){
        $('.alerta-roja-price').show();
        $('.alerta-roja-price').addClass('alert-danger');
        $('.alerta-roja-price').text('La oferta debe ser mayor al precio mínimo');
      }else{
        
        $.ajax({
          url: '/saveAuction',
          dataType: 'json',
          data: {param1: oferta, param2: <%= @product.id %>},
          success: function(data){
            if(data.message == "fin"){
              $('.bloques.offer').replaceWith('<div class="alert alert-warning">La subasta ha finalizado </div>');          
            }else{
              $('.max-offer').text("$"+data.price);
              if(data.message == "success"){
                $('.form-off').hide();
                $('.alerta-roja-price').show();
                $('.alerta-roja-price').removeClass('alert-danger');
                $('.alerta-roja-price').addClass('alert-success');
                $('.alerta-roja-price').text('Felicidades, Tu oferta ha sido guardada exitosamente.');
                $('.alerta-roja-price').append('<ul><li><a href="/products">Ver listado de productos </a></li><li><a href="#" class="offer-nueva">Ofertar nuevamente por este producto </a></li>');
                //window.location.replace("/products");
                $('.offer-nueva').click(function(event) {
                  $('form-off').show();
                });
              }else{
                $('#alerta-roja').show();
                $('#msj').text('Lo sentimos hubo un error, vuelve a intentarlo');
              }     
            }
          }
        });
        
      }
      }
    });
   
    $('#pricea').keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
             // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 
             // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
  });
</script>

